<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sistema Agro{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Sistema de Manejo Sanitário</h1>

        <nav>
            <a href="{{ url_for('inicio') }}">Início</a>
            <a href="{{ url_for('cadastro') }}">Cadastro</a>
            <a href="{{ url_for('listagem') }}">Listagem</a>
            <a href="{{ url_for('atualizar') }}">Atualizar</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Sistema de Controle e Manejo Sanitário e Vacinação</p>
    </footer>

</body>

</html>