{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}

<h2>Cadastro de Animal</h2>

<form method="POST">

    <label for="identificacao">Identificação do animal:</label>
    <input type="text"
           id="identificacao"
           name="identificacao"
           required>

    <label for="especie">Espécie:</label>
    <input type="text"
           id="especie"
           name="especie"
           required>

    <label for="raca">Raça:</label>
    <input type="text"
           id="raca"
           name="raca">

    <label for="data_nascimento">Data de nascimento:</label>
    <input type="date"
           id="data_nascimento"
           name="data_nascimento">

    <button type="submit">Cadastrar</button>

</form>

{% endblock %}